/* 

Flash \ Flood
Site by Michael C
http://mjchamplin.com

Colors:

Blue - #26739B
Turquoise – #2e4f60
Mustard – #ab9c38
Rust – #8a462f
*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

html { 	-webkit-font-smoothing: antialiased; }

body {
    background: #ccc;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #333
}

h1,h2,h3 { margin-bottom: .25em; }
h1 { font-size: 3em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.7em; font-weight: normal; font-style: italic; color: #d2d2d2; }

#wrapper { 
    width: 100%;
    /*max-width: 1460px;*/
    margin: 0 auto;
    background: #fff;
    min-height: 100vh;
}

.inner { 
    max-width: 1400px;
    margin: 0 auto;
	padding: 2em;
}


.logo { 
    text-align: center;
    padding: 2em 4em;
}

.logo img {
    width: 100%;
    max-width: 280px;
}


a.nav-toggle  {
	color: #333;
	display: block;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #eee;
	padding: .5em 0;
}

.nav-collapse{ 
	text-align: center;
	background-color: #eee;
    letter-spacing: .08em;
    text-transform: uppercase;

}

.nav-collapse ol li {
	padding: .5em 0;
	border-bottom: 1px solid #ddd;
}

.nav-collapse ol li.active {
	background-color: #ccc;
}

.nav-collapse a {
    text-decoration: none;
    color: #333;
}

section.billboard {
    background: url('../images/billboard.jpg');
    background-size: cover;
    background-position: center;    
    width:100%;
    min-height: 500px;
}

.big {
    font-size: 200pt;
    text-align: center;
    padding-top: .3em;
    font-weight: 900;
    color: #fff;    
}

.overview {
    background:#26739B;   
    color: #fff;
}



.overview p {
    font-weight: 300;
    font-size: 1.3em; 
    margin-bottom: 1em;
}


footer { 
    text-align: center;
}

nav.bottom { 
    margin: 1em 0 2em;
}

nav.bottom a {
    color: #333;
}

nav.bottom ol {
    list-style-type: none;
}

nav.bottom ol li {
    display: inline-block;
    margin-right: .35em;
}

nav.bottom ol li:last-child {
    margin-right: 0;
}

img.warning { height: 3.5em; width: 3.5em; margin: 4em auto 0; display: block; }

#left-column h1, #right-column h1 { text-align: center; }

.rust {
    background: #8a462f
}

.monochrome {   
    background: #fff;
    color: #333;
    
}



@media only screen and (min-width:1024px) { 
#left-column p, #right-column p { text-align: justify; padding: 0; }
#left-column { width: 50%; float: left; border-right: 1px solid #fff; margin: 0;}
	.monochrome #left-column { border-right: 1px solid #888; }
#right-column { width: 50%; float: left; }
	.inner{   padding: 2em; }
.inner-text {
    padding: 70px;
}
	#left-column, #right-column { padding: 70px; }

}

@media only screen and (min-width:640px) { 
.logo { 
    padding: 1em 4em;
}
nav.nav-collapse { 
    width: 100%;
    padding: 0 3em;
    border-bottom: 3px solid #333;
}


nav.nav-collapse ol { 
    list-style-type: none;
}

.js .nav-collapse { overflow: visible; }

nav.nav-collapse ol li { 
    display: inline-block; 
    margin-left: .25em;
    margin-bottom: -3px;
    padding: 1em;
    box-sizing: border-box;
    width: inherit;
}

nav.nav-collapse ol li:hover {
    border-bottom: 3px solid #26739B;

}

nav.nav-collapse ol li.active { 
    border-bottom: 3px solid #26739B;
}

.nav-toggle { 
	display: none;

}

/* Subpage-specific styles */

.logo.sub {
    padding: 1em;
}

.logo.sub img {
    max-width: 75px;
}

section.billboard.sub.about {
    background: url('../images/meet-us.jpg');
    background-size: cover;
    background-position: top left;
    width:100%;
    min-height: 600px;
}

.sub .big {
    font-size: 100pt;
    padding-top: 2em;
    font-weight: 900;
    color: #fff;
}

section.billboard.sub.services{
    background: url('../images/supplies.jpg');
    background-size: cover;
    background-position: center;
}



/*
nav.nav-collapse a {
    text-decoration: none;
    color: #333;
}


nav.nav-collapse ol { 
    list-style-type: none;
}







*/









.mj {
	color: #333;
}

.mj:hover {
	background-color: #FB9236;
}