/* 

Flash \ Flood
Site by Michael C
http://mjchamplin.com

Colors:

Blue - #26739B
Turquoise – #2e4f60
Mustard – #ab9c38
Rust – #8a462f
*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background: #ccc;
	font-family: "Lato", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 18px;
}

h1,h2,h3 {
	margin-bottom: .25em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 1.7em;
	font-weight: normal;
	font-style: italic;
	color: #d2d2d2;
}

#wrapper {
	width: 100%;
    /*max-width: 1460px;*/
	margin: 0 auto;
	background: #fff;
	min-height: 100vh;
}

.inner {
	max-width: 1400px;
	margin: 0 auto;
	padding: 2em;
}

.intro {
}

.intro p { 
	margin-bottom: 1.684em;
	font-weight: 300;
	font-size: 1.684em;
}

.intro p:last-child {
	margin-bottom: 0
}


.logo {
	text-align: center;
	padding: 2em 4em;
}

.logo img {
	width: 100%;
	max-width: 280px;
}

a.nav-toggle {
	color: #333;
	display: block;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	background-color: #eee;
	padding: .5em 0;
}

.nav-collapse {
	text-align: center;
	background-color: #eee;
	letter-spacing: .08em;
	text-transform: uppercase;
}

.nav-collapse ol li {
	padding: .5em 0;
	border-bottom: 1px solid #ddd;
}

.nav-collapse ol li.active {
	background-color: #ccc;
}

.nav-collapse a {
	text-decoration: none;
	color: #333;
}

section.billboard {
	
	background: url('../images/billboards/squeegee.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	color: #fff;
	min-height: 25vw;
}

section.billboard p {
	font-size: 2.2rem;
	margin-bottom: 1em;
}

section.billboard p:last-child {
	margin-bottom: 0;
}

.big {
	font-size: 100pt;
	text-align: center;
	font-weight: 900;
	color: #fff;
}

.overview {
	background: #26739B;
	color: #fff;
}

.overview p {
	font-weight: 300;
	font-size: 1.3em;
	margin-bottom: 1em;
}
#ig-container {
	
}
.ig-pic {
	width: 20%; 
	float: left;
	min-height: 18vw;
	padding: 0;
	margin-left: 6.6666%;
	background-size:cover;
	background-position: center;
}

.ig-pic:first-child {
	margin-left: 0;
}

.two-box {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 30vh;
	position: relative;

}

.two-box-overlay {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,.6);
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-transition: background-color .2s;

}

.two-box-overlay:hover {
	background-color: #000;
	background-color: rgba(256,256,256,.6);
}

.two-box-overlay:hover .portfolio-links {
	background: none;
	color: #333;

}

.portfolio-heading { 
	text-align: center;
	padding: .5em 0;
	font-size: 1.8rem;
}

.portfolio-links {
	text-align: center;
	color: #fff;
	font-weight: 300;
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	width: 100%;
	padding: .5em 0 .7em;
	-webkit-transition: background-color .2s, color .2s;
}

.portfolio-links p {
	font-weight: 300;
}

.portfolio-title {
	text-transform: uppercase;
	font-size: 1.6em;
	font-weight: 500;
}


.portfolio-title a {
	color: inherit;
	text-decoration: none;
}

.portfolio-description {

}

.portfolio-holder {
	 margin: 0 auto;
}

.portfolio-thumb {
	max-width: 300px;
	float: left;
	margin-bottom: 10px;
}

.featherlight-image {
	max-height: 100%;
}

.featherlight-content { 
	box-sizing: content-box;
}

#map { 
	height: 50vh;
}

footer {
	text-align: center;
}

nav.bottom {
	margin: 0 0 2em;
}

nav.bottom a {
	color: #fff;
}

nav.bottom ol {
	list-style-type: none;
}

nav.bottom ol li {
	display: inline-block;
	margin-right: .35em;
}

nav.bottom ol li:last-child {
	margin-right: 0;
}

.social-bar {
	margin-bottom: 1em;
}

.social-icon {
	font-size: 1.5em; 
	margin-right: .6em;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	-transition: color .2s;
}

.social-icon:hover {
	color: #c558f2;
}


.social-icon:last-child {
	margin-right: 0;
}

.warning {
	height: 3.5em;
	width: 3.5em;
	margin: 4em auto 0;
	display: block;
}

#left-column h1, #right-column h1 {
	text-align: center;
}

.rust {
	background: #8a462f;
	color: #fff;
}

.mustard {
	background: #ab9c38;
}
.turquoise { 
	background: #2e4f60;
	color: #fff
}

.monochrome {
	background: #fff;
	color: #333;
}

#contact-form { 
	max-width: 800px;
	margin: 0 auto;
	padding: 4em 2em;
}

#contact-form label {
	display: inline-block;
	margin-bottom: .5em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: .8em;
}

#contact-form input:not([type=submit]), #contact-form textarea {
	font-size: 1.2em;
	width: 100%;
	height: 2em;
	margin-bottom: 2em;
	background: none;
	border: none;
	border-bottom: 2px solid #26739B;
	color: #333;
	font-family: Lato, sans-serif;
}

#contact-form textarea {
	height: 8em;
}t

#contact-form input:focus {
	border-bottom: 2px solid #ab9c38;
	outline: none;
}

#contact-form input[type=submit]{
	width: 100%;
	height: 4em;
	background-color: inherit;
	border: 2px solid #26739B;
	border-radius: 0;
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	color: #26739B;
}

#contact-form input[type=submit]:hover {
	background-color: #26739B;
	color: #fff;	
}
#contact-form input[type=submit] {
    -webkit-transition: background-color .2s, color .2s;
	-moz-transition: background-color .2s, color .2s;
	-o-transition: background-color .2s, color .2s;
	-transition: background-color .2s, color .2s;
}

.contact-info {
	margin: 0 0 1em;
	text-align:center
}

@media only screen and (min-width:1024px) {
 
	#left-column p, #right-column p {
		text-align: justify;
		padding: 0;
	}

	#left-column {
		width: 50%;
		float: left;
		border-right: 1px solid #fff;
		margin: 0;
	}

	.monochrome #left-column {
		border-right: 1px solid #888;
	}

	#right-column {
		width: 50%;
		float: left;
	}

	.inner {
		padding: 2em;
	}

	.inner-text {
		padding: 70px;
	}
	
	#left-column, #right-column {
		padding: 70px;
	}
	
	.two-box {
		height: 50vh;

	}
	
}

@media only screen and (min-width:640px) {
 
	.logo {
		padding: 1em 4em;
	}

	nav.nav-collapse {
		width: 100%;
		padding: 0 3em;
		border-bottom: 3px solid #333;
		background-color: inherit
	}

	nav.nav-collapse ol {
		list-style-type: none;
	}

	.js .nav-collapse {
		overflow: visible;
	}

	nav.nav-collapse ol li {
		display: inline-block;
		margin-left: .25em;
		margin-bottom: -3px;
		padding: 1em;
		box-sizing: border-box;
		width: inherit;
		border-bottom: none;
	}

	nav.nav-collapse ol li:hover {
		border-bottom: 3px solid #26739B;
	}

	nav.nav-collapse ol li.active {
		border-bottom: 3px solid #26739B;
		background-color: inherit;
	}

	a.nav-toggle {
		display: none;
	}
	
	.two-box {
		width: 50%;
		float: left;
	}
	.inner {
		padding: 4em;
	}
}

/* Subpage-specific styles */

.logo.sub {
	padding: 1em;
}

.logo.sub img {
	max-width: 75px;
}

section.billboard.sub.about {
	background: url('../images/billboards/flashfloods.jpg');
	background-size: cover;
	background-position: top center;
	width: 100%;
	min-height: 600px;
}

/*
.sub .big {
	font-size: 100pt;
	padding-top: 2em;
	font-weight: 900;
	color: #fff;
}
*/

section.billboard.sub.services {
	background: url('../images/supplies.jpg');
	background-size: cover;
	background-position: center;
}



/*

nav.nav-collapse a {
    text-decoration: none;
    color: #333;
}


nav.nav-collapse ol { 
    list-style-type: none;
}

*/









.mj {
	color: #fff;
	transition: background-color .2s;
}

.mj:hover {
	background-color: #FB9236;
}